<div class="row">
	<div
		class="col-xl-6 mt-3 mb-3">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between">
			<h1 class="h3 mb-0 text-gray-800">
				Node Locator
			</h1>
			<div class="col-xl-6">
				<a href="https://my.serverhub.com/aff.php?aff=1044" target="_new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
					<i class="fas fa-download fa-sm text-white-50"></i>
					Get a server to run a node!
				</a>
			</div>
		</div>
	</div>
</div>
