
{% block wallets %}
     <h2>Wallets that support adding custom node addresses:</h2>
        <h3>Samori Wallet</h3>
        <h3>Electrum</h3>
        <h3>Bitcoinj</h3>
        <h3>Jax</h3>
        <h3>Bitcoin Core</h3>     
{% endblock %}